@import "../../Styling/styles.scss";

.padding{
    padding-right: 3vw;
}
.content {
    display: flex;
    flex-direction: row;

    .leftColumn {
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 15vw;

        .arrow {
            width: 100px;
            height: 20px;
            background-color: $CyberRedFill;
            order: 2;
            align-self: center;
            margin-top: 20px;
            box-shadow: $CyberGlowBox;

            &:hover {
                border: $CyerBorder;
                border-width: 1px;
                background-color: $TerminalBlue;

                .shape {
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid $CyberRedFill;
                    margin-left: 40px;
                    margin-top: 5px;
                }
            }

            .shape {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid $TerminalBlue;
                margin-left: 40px;
                margin-top: 5px;
            }
        }
    }

    .RightContainer {
        display: flex;
        height: 80vh;
        width: 85vw;
        padding-top: 10px;
    }
}