*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* APP: */



/* APP */





/* NAV: */

.nav-main-div{
  background-color: white;
  height: 100vh;
  border-right: 2px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: rgba(0,0,0,0.2);
}
.nav-logo{
  width: 100px;
  height: 40px;
  background-image: url(../src/assests/icons/Hospicare\ logo.png);
  background-size: 80%;
  margin-left: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-item-separator{
  width: 100%;
  height: 20%;
}
.nav-item{
  width: 100%;
  height: 50px;
  float: left;
  margin-top: 40%;
  margin-left: 15%;
  background-position: 20px;
  background-size: 30%;
  background-repeat: no-repeat;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.nav-item:hover{
  background-color: rgba(150, 253, 31, 0.2);
}
.nav-item:active{
  background-color: rgba(149, 253, 31, 0.797);
}
.nav-dash{
  background-image: url(../src/assests/icons/Dashboard\ Icon.png);
}
.nav-tasks{
  background-image: url(../src/assests/icons/Tasks\ Icon.png);
}
.nav-cal{
  background-image: url(../src/assests/icons/Calendar\ Icon.png);
  background-size: 25%;
}
.nav-appoint{
  background-image: url(../src/assests/icons/Group\ 5.png);
  background-size: 25%;
}
.test{
  background-color: red;
  height: 100vh;
}

/* NAV */







/* DASHBOARD: */

.dash-main-div{
  background-color: rgb(223, 125, 125);
  height: 100vh;
  float: left;
  background-color: white;
  width: 92.2%;
  height: 105vh;
}
.dash-left-col{
  width: 70%;
  height: 100%;
  padding: 40px;
  float: left;
}
  .dash-appointments-summary{
    height: 350px;
    padding: 20px;
    overflow: scroll;
  }
  .dash-appointment-summary-item{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgb(231, 54, 54);

    text-shadow: 
    0 0 12px  rgb(238, 76, 76),
    0 0 12px  rgb(238, 76, 76),
    0 0 12px  rgb(238, 76, 76);
  }
  .dash-breakdown{
    text-align: center;
    margin-left: 20px;
  }
  .chart{
    background-color: rgb(17, 255, 0);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
  }
  .dash-breakdown-info{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: rgb(136, 255, 0);
  }
  .dash-schedule-week{
    background-color: rgb(17, 255, 0);
    width: 50%;
    height: 270px;
  }
  .dash-schedule-month{
    background-color: rgb(17, 255, 0);
    width: 50%;
    height: 270px;
    margin-left: -20px;
  }
.dash-left-col h1 h6{
  margin-left: 30px;
}
.dash-left-col h4{
  margin-top: 30px;
}
.dash-right-col-background{
  padding: 20px;
  background-image: url(../src/assests/pictures/background.png);
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}
.dash-right-col{
  width: 100%;
  padding-top: 5%;
  height: 102.5%;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(1px);
  margin-top: -20px;
}
  .dash-menu-icon-holder{
    width: 100%;
    height: 40px;
    margin-top: 20px;
  }
  .dash-profile-pic{
    margin: auto;
    background-color: rgb(255, 30, 0);
    background-image: url(../src/assests/pictures/test.jpeg);
    background-size: 150%;
    background-position: -40px -20px;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .dash-icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .dash-to-profile-menu-icon{
    float: left;
    margin-left: 10px;
    background-image: url(../src/assests/icons/Profile\ Icon.png);
  }
  .dash-settings-icon{
    float: right;
    margin-right: 10px;
    background-image: url(../src/assests/icons/Settings\ Icon.png);
  }

/* DASHBOARD */





















.dash-appointment-time{
  text-align: center;
}

.dash-appointment-summary-item-add{
  background-color: rgb(243, 243, 242);
  background-image: url(../src/assests/icons/Group\ 6.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: auto;
}
.dash-appointment-summary-item-add:hover{
  filter: invert(40%);
  cursor: pointer;
}
.delete-icon{
  width: 90%;
  height: 90%;
  background-image: url(../src/assests/icons/Group\ 7.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}
.delete-icon:hover{
  filter: invert(60%);
  cursor: pointer;
  margin: auto;
}


.hospi-logo{
  margin-top: 50px;
  width: 100%;
  height: 120px;
  background-image: url(../src/assests/icons/Hospicare.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.login-form{
  padding-top: 80px;
  margin-top: 10px;
  background-color: rgba(127, 251, 3, 0.769);
  height: 50vh;
  border-radius: 7px;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
}
.login-username{
  width: 70%;
  height: 35px;
  border-radius: 9px;
  border-style:groove;
  border-width: 1px;
  margin-top: 40px;
  margin-left: 17%;
  padding: 10px;
}
.login-username:focus{
  outline: none;
  border-color: rgb(8, 197, 255);
  border-width: 2px;
}
.login-password{
  width: 70%;
  height: 35px;
  border-radius: 9px;
  border-style:groove;
  border-width: 1px;
  margin-top: 40px;
  margin-left: 17%;
  padding: 10px;
}
.login-password:focus{
  outline: none;
  border-color: rgb(8, 197, 255);
  border-width: 2px;
}
.login-button{
  margin-left: 45%;
  margin-top: 40px;
  width: 80px;
  height: 40px;
  border-radius: 9px;
  border-style: solid;
  border-color: rgb(101, 101, 101);
  border-width: 1px;
  background-color: rgb(0, 255, 34);
}
.login-button:active{
  background-color: rgb(1, 186, 26);

}

.welcome{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 15px;
  margin-top: -30px;
  color: white;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}